.weather-container {
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 5%;

    .header {
        display: flex;
        justify-content: space-between;

        .weather-inputs {
            display: flex;
    
            .weather-input-box {
                width: 30rem;
                border-radius: 12px;
            }
    
            .search-icon {
                margin-left: 5px;
            }
        }
    }
}