<div class="weather-container">
  <div class="header">
    <div class="weather-inputs">
      <input type="text" class="weather-input-box" placeholder="Type-in a city name..." [(ngModel)]="city" autofocus>
    <a class="search-icon" href="#" (click)="getWeatherInfo()">
      <span class='material-icons'>search</span>
    </a>
    <a href="#" (click)="speechRecoginationStart()">
      <span class="material-icons yellow-color">mic </span>
    </a>
    </div>
    <app-auth-button class="auth"></app-auth-button>
  </div>
  <div *ngIf="loading"></div>
  <div *ngIf="weatherData?.message && loading">
    <h2>{{weatherData.message}}</h2>
  </div>
  <div *ngIf="weatherData?.formattedAddress && !loading">
    <div>
      <h3>{{weatherData.formattedAddress}} :</h3>
      <h1>{{weatherData.temp}}&#8457; / {{weatherData.temp | fahrenheitToDegrees | number}}&#8451;
      </h1>
      <div>
        <h5> - Yeah, it feels like: {{weatherData.apparentTemperature}}&#8457; / {{weatherData.apparentTemperature | fahrenheitToDegrees | number}}&#8451;
        </h5>
      </div>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Weather parameter</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Humidity</td>
            <td>{{weatherData.humidity}}</td>
          </tr>
          <tr>
            <td>Pressure</td>
            <td>{{weatherData.pressure}}</td>
          </tr>
          <tr>
            <td>Wind speed</td>
            <td>{{weatherData.windSpeed}}</td>
          </tr>
          <tr>
            <td>Cloud cover</td>
            <td>{{weatherData.cloudCover}}</td>
          </tr>
          <tr>
            <td>UV index</td>
            <td>{{weatherData.uvIndex}}</td>
          </tr>
          <tr>
            <td>Ozone</td>
            <td>{{weatherData.ozone}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th>Weather Parameter</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Precipitation Probability</td>
            <td>{{weatherData.precipProbability}}</td>
          </tr>
          <tr>
            <td>Precipitation Type</td>
            <td>{{weatherData.precipType}}</td>
          </tr>
          <tr>
            <td>Precipitation Accumulation</td>
            <td>{{weatherData.precipAccumulation}}</td>
          </tr>
          <tr>
            <td>Visibility</td>
            <td>{{weatherData.visibility}}</td>
          </tr>
          <tr>
            <td>Nearest Storm Distance</td>
            <td>{{weatherData.nearestStormDistance}}</td>
          </tr>
          <tr>
            <td>Nearest Storm Bearing</td>
            <td>{{weatherData.nearestStormBearing}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="weatherData?.summary && !loading">
    <div>
      <h2>{{weatherData.summary}}</h2>
    </div>
  </div>
</div>
